:root {
    --primary-color:#8b5cf6;
    --secondary-color:#ddd6fe;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

 /* sidebar styles */

 .sidebar {
    background-color: var(--primary-color);
    grid-row: span 2;
 }

 .side-nav > h1 > a {
    display: flex;
    justify-content: start;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
}

ul {
    display: grid;
    gap: 1rem;
    font-size: 1.5rem;
}

ul > a {
    color: white;
}

.side-nav {
  display: grid;
  gap: 4rem;
  justify-content: start;
  padding-left: 2rem;
}

 #main-icon {
    display: grid;
    align-self: center;
    font-size: 3rem;
    margin-top: 10px;
 }

.iconify {
    margin-right: 15px;
}

 /* header styles */
 .header {
    background-color: rebeccapurple;
 }

  /* main-content styles */

.main-content {
    background-color:var(--secondary-color);
    grid-column: 2/3;
}