@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


:root {
    --primary-color:#8b5cf6;
    --secondary-color:#ddd6fe;
}

.container {
    display: grid;
    grid-template-columns: 1.1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

 /* sidebar styles */

 .sidebar {
    background-color: var(--primary-color);
    grid-row: span 2;
    font-family: 'Fira Sans', sans-serif;
 }

 .side-nav  h1  a {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);  
    font-weight: bold;
}

ul {
    display: grid;
    gap: 1rem;
    font-size: 1.3rem;
}

ul > a {
    color: white;
}

.side-nav {
  display: grid;
  gap: 2rem;
  justify-content: start;
  padding-left: 1rem;
}

 #main-icon {
    display: grid;
    font-size: 2.6rem;
    margin-top: 10px;
 }

.nav .iconify {
    margin-right: 20px;
}

.side-nav h1 .iconify {
    margin-bottom: 15px;
    margin-right: 9px;
}

.nav {
    display: grid;
    margin-left: 10px;
    gap: 3rem;
}

 /* header styles */
 .header {
    background-color: rgb(255, 255, 255);
 }

  /* main-content styles */

.main-content {
    background-color:var(--secondary-color);
    grid-column: 2/3;
}